.chart-grid {

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

    gap: 20px;

}

.chart-card {

    background: white;

    border: 1px solid #dddbda;

    border-radius: 10px;

    padding: 15px;

    height: 400px;

}

.chart-title {

    text-align: center;

    font-size: 18px;

    font-weight: 700;

    margin-bottom: 15px;

}

.chartCanvas {

    width: 100% !important;

    height: 320px !important;

}